extends layout

block content
  h1= title
  p 予力内容创作，加速技术传播
  img(src="/images/logo.svg", alt="", class="logo")
  img(src="/images/bg.svg", alt="", class="bg")
  img(src="/images/bg.svg", alt="", class="bg bg-extra")
  img(src="/images/bg.svg", alt="", class="bg")
  img(src="/images/bg.svg", alt="", class="bg bg-extra")
  img(src="/images/bg.svg", alt="", class="bg")
  img(src="/images/bg.svg", alt="", class="bg")